#myButton{
 position:sticky;
 color:black;
height: 40px;
background-color:white;
border-radius: 20%;
 margin:1.66%;
}
#lock{
  margin-left: 340px;
}
 
#container{
  margin-left: 300px;
  font-color :white;
   
}
 .myclass{
  font-size: 25px;
  font-weight: bold;
 }

 #special{
     margin-left: 100px;
      display:inline-block;
    width:15%;
 }
 p{
   color:white;
   font-size: 5px;
 font-weight: bold;
 }

 li p{
  color:white;
 font-size: 25px;
 font-weight: bold;
}
.hsimp-checks{
   color:white;
   font-size: 25px;
 font-weight: bold;
}

}
 #special{
  width:10px;
  height:40px;
 }
 #boxed{
  border:1px solid white;
  width:75%;
 }
 h2{
  font-color: white;
}
 h1{
   color:lightblue;
    text-indent: 100px ;
            }
#password-box{
    margin-left: 350px;
    
}
.div{
    background: "white";
}
#instruction0{
background-image: url('https://d2slcw3kip6qmk.cloudfront.net/marketing/techblog/cryptography-a-simple-overview-header@2x.png');
background-color:blue; 
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
margin 0;
font-family:"Avenir";
 width: 800px; 
 height: 1500px;
 
 }
 div.gameModule {
 
    width: 800px;
    height: 1500px;
}

body{
  width: 800px; 
 height: 1500px;
}
white-space: pre-line;
 
  .questions{
font-color:white;
  margin-left: 350px;
  text-indent: 40px;
 width:20%;
 

 padding-bottom: 30%;
  

font-size: 20px;
 
 
}
.questions:hover{
  background-color:purple;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
 

.selected{
color:white;
background:purple;
 cursor: pointer;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
 
}
#colorDisplay{
     margin-left:100px;
     display:inline-block;
    width:50%;
}
button{
  margin-left: 100px;
  height: 100px;
  width:100px;
  background: black;
  text-transform: uppercase;
  height: 500%;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
}

#colorDisplay{
    margin-left:300px;
    font-size: 25px;
    font-style: bold;
    display:inline-block;
    
}
#stripe{
  font-size:50px;
}
@font-face {
  font-family: 'digital';
  src: url('DS-DIGI.TTF');
}
@font-face {
  font-family: 'angry-bird';
  src: url('angrybirds-regular.ttf');
}
#message{
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size:30px;
  font-weight: bold;
  margin-left: 245px;
  height: 60px;
  width:3px; 
-webkit-text-stroke: 1px blue;
   
}
#message1{
  font-weight:bold;
color: white;
 font-size:30px;
 font-weight: bold;
 margin-left: 545px;
  height: 60px;
  width:30%;
}
#message4{
  font-weight:bold;
   color: white;
  -webkit-text-stroke: 1px blue;
   font-size:30px;
   font-weight: bold;
   margin-left: 545px;
   height: 60px;
    display:inline-block;
    width:30%;
}
button:hover{
    
    color:white;
    background:lightblue;
}
:root {
    font-size: 10px;
}






#special{
    margin: auto;
    padding-right: 30%;
}
 svg {
  width: 1200px;
  height: auto;
  max-height: 375px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
}







 
 *{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

 .container{
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.container span{
  text-transform: uppercase;
 display:block;
}
.text1{
  margin-left: 300px;
  text-indent:100px;
  color: white;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 5px;
  background: black;
 position: relative;
  animation: text 3s 1;
}
.text2{

  text-indent:100px;
  font-size: 40px;
  color: lightblue;
  font-weight: bold;
}

@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
 .hsimp-time {
                color:blue;
                 text-indent:50px; 
                margin-left:100px;
                display: inline;
                font-size: 30px;
               font-weight : bold;
            }

            .hsimp-checks li {
                color:blue;
                margin-left:50px;
                list-style: none;
                font-size: 25px;
                font-weight: bold;
            }

            .hsimp-checks h2 {
                color:blue;
                margin-left:50px;
                font-size: 0.8em;
                margin-bottom: 0;
                 font-size: 25px;
                font-weight: bold;
            }

            .hsimp-checks p {
                color:blue;
                margin-left:50px;
                margin-top: 0;
                font-size: 0.7em;
                 font-size: 25px;
                font-weight: bold;
            }
            #topic{
             text-indent:250px;
             font-size:30px;
             font-weight: bold;
            -webkit-text-stroke: 1px blue;
            }






